@font-face {
    font-family: 'Inter';
    src: url('@/assets/font/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('@/assets/font/Poppins-Light.ttf');
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

.btn-danger {
    background-color: #F50057;
}